@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  font-weight: 400;
  src: url("../assets/fonts/Satoshi-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Satoshi";
  font-weight: 700;
  src: url("../assets/fonts/Satoshi-Bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1; 
}

body {
  font-family: "Satoshi", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: 400;
}

#checkbox[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}

#checkbox[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 2px;
  background: #ffffff;
}

#checkbox[type="checkbox"]:checked::before {
  background-color: white;
  content: "√";
  font-family: "Font Awesome 5 Free";
  color: black;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  outline: 1px solid #239fac;
}

::-webkit-scrollbar {
  width: 3px; 
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

